<div class="widget-container boxed" style="overflow-y: auto;">
	<div class="inner">
		<div style="text-align: center;">
			<div id="inner_country_select"></div>
			<br />
			<div style="display: inline-block" id="date-dropdown">
				<div class="date_picker time-select" style="display: flex;" >
					<div style="border-bottom-left-radius: 5px; border-top-left-radius: 5px;">
						<div style="display: flex; margin: 10px; margin-right: 5px;">
							<i class="fas fa-calendar-alt red" style="font-size: 17px;"></i>
						</div>
					</div>
					<span class="facebook_date"></span>
				</div>
			</div>
		</div>

		<br>

		<div style="display: flex;">
			<div class="infographic_box">
				<h3>
					<i class="fas fa-users red"></i>
					<span class="total_advertisers_replace"></span>
				</h3>
				<p>Total # of Advertisers</p>
			</div>
			<div class="infographic_box">
				<h3>
					<i class="fas fa-layer-group red"></i>
					<span class="total_advertisements_replace"></span>
				</h3>
				<p style="padding-right: 10px;">Total # of Advertisements</p>
			</div>
		</div>
		
		<br>
		<div class="dropdown" style="z-index: 15;">
			<button class="dropdown-btn widget-title" style="background: #c00001;"><span class="dropdown-arrow"><i class="fas fa-arrow-right" aria-hidden="true"></i></span>&nbsp; List of Political Advertisers on Meta's Platforms</button>
			<div class="dropdown-content">
			
				<div id="funder_table">
					<div class="dropdown" style="z-index: 15;">
						<button class="dropdown-btn dropdown-navigation-btn widget-title">
							<span class="dropdown-arrow" style="transform: rotate(0deg);"><i class="fas fa-arrow-right" aria-hidden="true"></i></span>
							&nbsp;&nbsp;Learn More
						</button>
						
						<div class="dropdown-content dropdown-content-navigation" style="display:none; border: 1px solid lightgrey; box-shadow: none; padding: 0px; margin-bottom: 0;">
							<div class="navigation-instructions" id="right-navigation-instructions">
								<p>This module shows the most active advertisers currently running ads about social issues, elections or politics across Meta’s platforms and technologies for the selected date range.</p>
								<ul>
									<li>For privacy and competitive reasons, Meta only reports ad spend - the cost of an ad -  as a range with a minima and maxima for each ad.</li>
									<li>
										Click on any advertiser to see:
										<ul>
											<li>What Facebook page(s) they are funding</li>
											<li>What ads they are running</li>
											<li>How much money they are spending on ads per Facebook page</li>
											<li>How many ads they are running each day</li>
											<li>Where geographically their ads are being shown</li>
											<li>What demographic groups they are targeting</li>
											<li>What is being said in their ads</li>
										</ul>
									</li>
									<li>Click on <img src="/images/sort_icon.png" /> to sort advertisers by a particular ad spend range.</li>
									<li>Best viewed on a desktop browser or as a desktop site on mobile.</li>
								</ul>
								<br>
								<span style="color: #949494">Ad Library API Parameters used: <span style="font-style: italic;">page_name, page_id, spend</span></span>
							</div>
						</div>
					</div>
					<br>
					<div style="display: flex;">
						<form id="heatmap_filter_form" onsubmit="return false" style="width: 100%">
							<input id="search-input" type="text" placeholder="Search" oninput="heatmaps[0].filter(this.value)">
						</form>
						<button id="search-clear" class="btn-warning" style="width: 60px; height: 38px; margin-left: 10px;">
							Clear
						</button>
					</div>
					<div class="second-thead">
						Ads Spending Range (<%= currency %>) 
					</div>
					<table id="top_funders" class="heatmap">
						<colgroup>
							<col  />
							<col style="width:28px" />
							<col class="box_width" />
							<col class="box_width" />
							<col class="box_width" />
							<col class="box_width" />
							<col class="box_width" />
						</colgroup>
						<thead>
							<tr id="top_funders_legend">
								<th class="key" colspan="2">Advertisers</th>
							</tr>
						</thead>
						<tbody>
							
						</tbody>
					</table>
					<div class="loader red" id="top_funders_loader">
						<div class="lds-grid">
							<div></div>
							<div></div>
							<div></div>
							<div></div>
							<div></div>
							<div></div>
							<div></div>
							<div></div>
							<div></div>
						</div>
					</div>
				</div>
				<h3 id="funder_error" style="text-align: center"></h3>
			</div>
		</div>
	</div>
</div>

<script type="text/javascript">

	var searchInput = document.getElementById('search-input');
    var searchClearButton = document.getElementById('search-clear');

    searchClearButton.addEventListener('click', function() {
        searchInput.value = '';
        searchClearButton.style.display = 'none';
		heatmaps[0].filter('')
    });

    searchInput.addEventListener('input', function() {
        searchClearButton.style.display = searchInput.value.trim() === '' ? 'none' : 'inline-block';
    });

    // Initially set the visibility based on the input's initial value
    searchClearButton.style.display = searchInput.value.trim() === '' ? 'none' : 'inline-block';

	// Create the duplicate dropdown
	d3.select('#inner_country_select')
		.style('text-align', 'center')
		// .append('div')
		// .attr('class', 'country-select')
		.append('input')
			.attr('type', 'text')
			.attr('id', 'duplicateCountry')
			.style('border', '1px solid black') // Border style
    		.style('border-radius', '5px')
			.style('font-size', '14px');


	$('#duplicateCountry').countrySelect({
		onlyCountries: <%- JSON.stringify(validCountries) %>,
		responsiveDropdown: true,
		preferredCountries: [],		
		defaultCountry: country
	})

	$('#duplicateCountry').change(c => {
		console.log($("#duplicateCountry").countrySelect("getSelectedCountryData").iso2)
		window.location.href = "/facebook_ads_v2?country="+$("#duplicateCountry").countrySelect("getSelectedCountryData").iso2
	})
	

	const fbStartDay = <%- JSON.stringify(fbStartDay) %>
	const fbEndDay = <%- JSON.stringify(fbEndDay) %>
	const currency = <%- JSON.stringify(currency) %>
	const currencySymbol = <%- JSON.stringify(currencySymbol) %>

	funders(30)
	function funders(n) {
		// Displays the number of funders (n) in the heatmap

		// Get data from the API
		$.post('/facebook_ads_v2/heatmap', 
			{
				startDay: fbStartDay,
				endDay: fbEndDay,
				country: country
			},
			data => {
				console.log(data)
				var cleaned = []	
				var spendRanges = ['0 - 99', '100 - 499', '500 - 999', '1000 - 4999', '5000+', 'Total']
				var grandTotal = 0

				// Organize the list of spend ranges into the 2D matrix for the heatmap
				for (var i = 0; i < data.length; i++) {
					if (data[i].funding_entity == null) {
						continue;
						// data[i].funding_entity = 'No funding entity given'
					}
					var row = [data[i].funding_entity, 0, 0, 0, 0, 0, 0]
					for (var j = 0; j < data[i].spends.length; j++) {
						var range = data[i].spends[j].spend
						var idx = spendRanges.indexOf(rangeToLabel(range))+1
						var n = data[i].spends[j].count
						row[idx] += n
						row[6] += n
						grandTotal += n
					}
					cleaned.push(row)
				}

				// Update the number of total advertisers
				d3.select('.total_advertisers_replace')
					.text(d3.format(',')(cleaned.length))
				// Update the number of total advertisements
				d3.select('.total_advertisements_replace')
					.text(d3.format(',')(grandTotal))
				
				try {
					var heatmap = new Heatmap(cleaned, colorSchemes.red, 'top_funders', spendRanges);
					$('#top_funders_loader').remove()
					d3.select('#funder_table').style('display', 'block');
					d3.select('#funder_error').style('display', 'none');
				} catch (error) {
					d3.select('#funder_table').style('display', 'none')
					d3.select('#funder_error').style('display', 'block');
					d3.select('#funder_error').text('No data available for this country + date range.')
				}	

			}
		)
	}

	function isInRange(reportedRange, chartRange) {
		// Check whether a range given by Facebook falls within a range from our chart
		var lowerBoundGreater = reportedRange.lower_bound >= chartRange.lower_bound
		var upperBoundLess = (reportedRange.upper_bound <= chartRange.upper_bound) || (lowerBoundGreater && (chartRange.upper_bound == "any"))
		return lowerBoundGreater && upperBoundLess
	}

	function rangeToLabel(range) {
		// Get string for a range
		if (range.upper_bound < 100) {
			return '0 - 99'
		} else if (range.upper_bound < 500) {
			return '100 - 499'
		} else if (range.upper_bound < 1000) {
			return '500 - 999'
		} else if (range.upper_bound < 5000) {
			return '1000 - 4999'
		} else {
			return '5000+'
		}
	}

	makeDateRangePickers()
	function makeDateRangePickers() {
		// Create all of the date range pickers across the site

		var today = moment()
		var startDate = moment().subtract(fbStartDay, 'days')
		var endDate = moment().subtract(fbEndDay, 'days')
		var minDate = moment(<%- JSON.stringify(firstDay) %>, 'DD-MM-YYYY')

		$(function() {
			$('.date_picker').daterangepicker({
				opens: 'right',
				startDate: startDate,
				endDate: endDate,
				minDate: minDate,
				maxDate: today
			}, function(start, end, label) {
				// Parse input and redirect to the new page
				end = end.startOf('day')
				start = start.startOf('day')
				today = moment().startOf('day')

				var newEndDate = today.diff(end, 'days')
				var newStartDate = today.diff(start, 'days')

				// Impose a one week limit to US data, not needed due to optimizations in DB
				// if ((newStartDate - newEndDate) >= 8 && country=='us') {
				// 	alert('Due the large volume of data from the US, we are unable to show time ranges greater than one week. Please select a shorter range to continue.')
				// } else 

				window.location.href = `/facebook_ads_v2?country=${country}&startDay=${newStartDate}&endDay=${newEndDate}`;

			});
		});
	}


function print(something) {
	console.log(something);
}
</script>
